@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    color: white;
    background-color: rgb(191, 169, 252);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(240, 128, 197);
    background-color: rgb(250, 209, 249);
    color: rgb(240, 128, 197);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}